            .giu {
                color: #f0f8ff;
            }
            
            .bg-title {
                /*background-image: linear-gradient(to bottom right, #2d3436, #00b894);*/
                background: url('../img/imagem9.jpg') center center no-repeat;
                background-size: cover;
            }
            
            .text-title {
                font-family: 'Akronim', 'cursive';
                font-size: 6.2em;
            }
            
            .text-js {
                font-family: 'Raleway', 'sans-serif';
                font-size: 1.6em;
            }
            
            .footer {
                background: #023d2e;
                color: rgb(184, 184, 184);
                height: 5em;
            }
            
            .titulo {
                color: black;
                font-family: 'Josefin Sans', sans-serif;
            }
            
            .menu {
                background-image: linear-gradient(to bottom right, rgb(44, 38, 38), #147749);
            }
            
            .mt-n5 {
                margin-top: -3rem;
            }